/* Custom CSS */

/* Variables */
:root {
  --font-family: "Arial", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --padding: 1rem 6rem;
  --bg-color-dark: #222831;
  --primary-color-dark: #46B5D1;
  --font-color-dark: #f5f5f5;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  transform: translateY(-3px);
}

body {
  font-family: var(--font-family);
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: var(--bottom-margin);
}
/* CSS Resets end */

/* Nav Bar */
nav {
  /* display */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  /* style */
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: var(--padding);
  transition: var(--transition);
  width: 100%;
}

.nav-wrap {
  display: flex;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav a {
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  font-weight: var(--bold-font);
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

nav a:hover {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.burguer-container {
  cursor: pointer;
  display: inline-block;
}

.burguer-bar1, .burguer-bar2, .burguer-bar3 {
  background-color: var(--primary-color);
  display: none;
  height: 1px;
  margin: 5px auto;
  transition: 0.4s;
  width: 30px;
}

.change.burguer-bar1 {
  top: 2.35em;
  transform: translateY(6px) rotate(45deg);
}

.change.burguer-bar2 {opacity: 0;}

.change.burguer-bar3 {
  bottom: 2.35em;
  transform: translateY(-6px) rotate(-45deg);
}

.resume {
  background-color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  border-radius: 5px;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: var(--bold-font);
  padding: 10px;
}

.resume:hover {
  background-color: var(--bg-color);
  border: var(--secondary-color) 1px solid;
  color: var(--secondary-color);
  font-weight: var(--bold-font);
  transform: none;
}
/* Nav Bar end */

/* Home */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dr28hft1z/image/upload/v1673849770/portfolio-react/pic-ester_mgs51p.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bio {
  text-align: center;
  padding: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-color);
}

.bio-name {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  margin-bottom: var(--bottom-margin);
}

.bio-title {
  line-height: var(--line-height);
  padding-bottom: 1rem;
}

.bio-text {
  border-radius: 5px;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: var(--bold-font);
  line-height: var(--line-height);
  margin: 10px 0;
  padding: 10px;
  transition: var(--transition);
}

.bio-text:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
  cursor: pointer;
}
/* Home end*/

/* About */
#about {
  background-color: var(--bg-color);
  gap: 2.5rem;
  padding: var(--padding);
}

#about p {
  text-align: center;
  line-height: var(--line-height);
  padding: 0.4rem 0rem;
}
/* About end */

/* Skills */
#skills {
  padding: var(--padding);
}

.skills-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  gap: 2.5rem;
  margin-bottom: var(--bottom-margin);
  padding: 0.5em 0em;
}

.skills-card {
  display: flex;
  align-items: center;
  text-align: center;
  width: 26rem;
}

.skill-header {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.skill-text {
  line-height: var(--line-height);
}

.skill-place {
  margin: 1rem 0;
}

.skill-logo {
  width: 20%;
  /* keep ratios */
  aspect-ratio: 16 / 9;
  /* stop from streching */
  object-fit: contain;
  /* take background off */
  mix-blend-mode: color-burn;
  /* turn in b&w */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* Skills end */

/* Projects */
#projects {
  background-color: var(--bg-color);
  padding: var(--padding);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
}

.project-1 {
  background-image: url(https://res.cloudinary.com/dr28hft1z/image/upload/v1674379811/portfolio-react/desk-google_tjwhvn.jpg);
}

.project-2 {
  background-image: url(https://res.cloudinary.com/dr28hft1z/image/upload/v1674379810/portfolio-react/desk-airbnb_nxi7rl.jpg);
}

.project-3 {
  background-image: url(https://res.cloudinary.com/dr28hft1z/image/upload/v1674379810/portfolio-react/desk-fmt_s6zzpp.jpg);
}

.project-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 21.875rem;
  position: relative;
  width: 100%;
}

.project-overlay {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* style */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  bottom: 0;
  color: #f1f1f1;
  height: 100%;
  opacity: 0;
  padding: 1.9rem;
  position: absolute;
  transition: .5s ease;
  width: 100%;
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.project-title {
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
}
/* Projects end */

/* Contact */
#contact {
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  /* style */
  gap: 2.5rem;
  margin: auto;
  padding: var(--padding);
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dr28hft1z/image/upload/v1673849770/portfolio-react/pic-ester_mgs51p.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#contact > div {
  width: 50%;
}

#contact .header{
  color: var(--bg-color);
}

.contact-form-container label {
  color: var(--bg-color);
  font-weight: var(--bold-font);
  line-height: 2.7em;
} 

.contact-form-container .input-field {
  border: none;
  border-radius: 5px;
  font-family: var(--font-family) !important;
  font-size: 0.875rem;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.input-field::placeholder {
  color: var(--primary-shadow);
}

.submit-btn {
  background-color: var(--normal-font);
  border: 0;
  border-radius: 5px;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: var(--bold-font);
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  transition: var(--transition);
  width: 100%;
}

.submit-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
/* Contact end */

/* Footer */
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-shadow);
  font-size: 12px;
  padding: var(--padding);
}

.footer-list {
  display: flex;
}

.copyright {
  padding: 0.5rem;
}

.footer-link {
  display: block;
  padding: 0.5rem;
  transition: background-color 0.1s ease-in-out;
}
/* Footer end */

/* Mobile */
@media only screen and (max-width: 600px) {
  /* CSS Resets */
  nav, #home, #about, #skills, #projects, #contact, #footer {
    padding: 0.5rem 3.75rem;
  }

  /* Nav Bar */
  nav {
    display: flex;
    align-items: flex-start;
  }

  .nav-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .burguer-bar1, .burguer-bar2, .burguer-bar3 {
    display: flex;
  }

  .navigation {
    display: none;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.9rem;
    margin: 20px 0;
  }

  /* Home */
  .bio-name {
    font-size: 70px;
  }

  /* Skills */
  .skills-wrapper {
    display: grid;
  }

  .skills-card {
    width: 100%;
  }

  .skill-place, .skill-logo {
    display: none;
  }

  /* Projects */
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 100%;
  }
}
/* Mobile end */

/* Dark Mode */
#dark * {
  color: var(--font-color-dark);
}

#dark a {
  color: var(--primary-color-dark);
}

#dark a:hover {
  color: var(--secondary-color);
}

#dark section, #dark nav, #dark #footer {
  background-color: var(--bg-color-dark);
}

    /* Dark Nav */
#dark .resume {
  background-color: var(--primary-color-dark);
  border: var(--primary-color-dark) 1px solid;
  color: var(--bg-color-dark);
  }

#dark .resume:hover {
  background-color: var(--bg-color-dark);
  border: var(--secondary-color) 1px solid;
}

    /* Dark Home */
#dark .bio-text:hover {
  background-color: var(--primary-color-dark);
  color: var(--bg-color-dark);
}
    
    /* Dark Skills */
#dark .skill-header {
  color: var(--primary-color-dark);
}

#dark .skill-logo {
  mix-blend-mode: screen;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

    /* Dark Project */
#dark .project-title {
  background-color: var(--primary-color-dark);
}

    /* Dark Contact */
#dark .submit-btn:hover {
  background-color: var(--primary-color-dark);
}
/* Dark Mode end */