/* Custom CSS */

/* Variables */
:root {
  --font-family: "Arial", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --padding: 1rem 6rem;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 40px;
  margin-top: 2.5rem;
  margin-bottom: var(--bottom-margin);
}
/* CSS Resets end */

/* Nav Bar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.navigation {
  display: none;
}

.nav-logo {
  width: 12%;
  /* take background off */
  mix-blend-mode: color-burn;
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.burguer-container {
  display: inline-block;
  cursor: pointer;
}

.burguer-bar1, .burguer-bar2, .burguer-bar3 {
  width: 30px;
  height: 1px;
  background-color: var(--primary-color);
  margin: 5px auto;
  transition: 0.4s;
}

.change.burguer-bar1 {
  top: 2.35em;
  transform: translateY(6px) rotate(45deg);
}

.change.burguer-bar2 {opacity: 0;}

.change.burguer-bar3 {
  bottom: 2.35em;
  transform: translateY(-6px) rotate(-45deg);
}
/* Nav Bar end */

/* Home */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dr28hft1z/image/upload/v1673849770/portfolio-react/pic-ester_mgs51p.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bio {
  padding: 0.625rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-color);
}

.bio-name {
  font-size: 120px;
  margin-bottom: var(--bottom-margin);
  font-family: 'Caveat', cursive;
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.bio-btn {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.bio-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
/* Home end*/

/* About */
#about {
  background-color: var(--bg-color);
  gap: 2.5rem;
  padding: var(--padding);
}

#about p {
  line-height: var(--line-height);
  padding: 0.4rem 0rem;
}
/* About end */

/* Skills */
#skills {
  padding: var(--padding);
}

.skills-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  gap: 2.5rem;
  margin-bottom: var(--bottom-margin);
  padding: 0.5em 0em;
}

.skills-card {
  display: flex;
  align-items: flex-start;
  text-align: start;
  width: 26rem;
}

.skill-header {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.skill-text {
  line-height: var(--line-height);
}

.skill-place {
  margin: 1rem 0;
}

.skill-logo {
  width: 20%;
  /* keep ratios */
  aspect-ratio: 16 / 9;
  /* stop from streching */
  object-fit: contain;
  /* take background off */
  mix-blend-mode: color-burn;
  /* turn in b&w */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.skills-btn {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 1rem;
  transition: var(--transition);
  width: 30%;
}

.skills-btn:hover {
  background-color: var(--primary-color);
  color: #fcfcfc;
  cursor: pointer;
}
/* Skills end */

/* Projects */
#projects {
  background-color: var(--bg-color);
  padding: var(--padding);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
}

.project-1 {
  background-image: url(https://res.cloudinary.com/dr28hft1z/image/upload/v1674379811/portfolio-react/desk-google_tjwhvn.jpg);
}

.project-2 {
  background-image: url(https://res.cloudinary.com/dr28hft1z/image/upload/v1674379810/portfolio-react/desk-airbnb_nxi7rl.jpg);
}

.project-3 {
  background-image: url(https://res.cloudinary.com/dr28hft1z/image/upload/v1674379810/portfolio-react/desk-fmt_s6zzpp.jpg);
}

.project-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  height: 21.875rem;
  position: relative;
  width: 100%;
}

.project-overlay {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* style */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  bottom: 0;
  color: #f1f1f1;
  height: 100%;
  opacity: 0;
  padding: 1.9rem;
  position: absolute;
  transition: .5s ease;
  width: 100%;
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.project-title {
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
}
/* Projects end */

/* Contact */
#contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  margin: auto;
  padding: var(--padding);
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dr28hft1z/image/upload/v1673849770/portfolio-react/pic-ester_mgs51p.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#contact .header{
  color: var(--bg-color);
}

.contact-form-container label {
  color: var(--bg-color);
  font-weight: var(--bold-font);
  line-height: 2.7em;
} 

.contact-form-container .input-field {
  border: none;
  border-radius: 5px;
  font-family: var(--font-family) !important;
  font-size: 0.875rem;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.input-field::placeholder {
  color: var(--primary-shadow);
}

.submit-btn {
  background-color: var(--normal-font);
  border: 0;
  border-radius: 5px;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: var(--bold-font);
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  transition: var(--transition);
  width: 100%;
}

.submit-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
/* Contact end */

/* Footer */
#footer {
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.footer-link {
  display: block;
  padding: 0.5rem;
  color: var(--primary-shadow);
  transition: background-color 0.1s ease-in-out;
}

.copyright {
  font-size: 12px;
}
/* Footer end */

/* Mobile */
@media only screen and (max-width: 600px) {
  /* CSS Resets */
  #home, #about, #skills, #projects, #contact {
    padding: 0.5rem 2.5rem;
  }

  /* Nav Bar */
  nav {
    display: grid;
    justify-content: center;
  }

  nav ul {
    display: grid;
    justify-items: center;
    gap: 1.9rem;
    margin-top: 20px;
  }

  /* Skills */
  .skills-wrapper {
    display: grid;
  }

  .skills-card {
    width: 100%;
  }

  .skill-logo {
    width: 40%;
  }

  /* Projects */
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 100%;
  }
}
/* Mobile end */