/* Theme CSS */

/* Variables */
:root {
    --bg-color: #222831;
    --primary-color: #46B5D1;
    --font-color: #f5f5f5;
}
/* Variables end */

/* CSS Resets */
* {
    color: var(--font-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

#contact .header, .contact-form-container label, .bio-text, .submit-btn{
    color: whitesmoke;
}
/* CSS Resets end */

#skills, #footer {
    background-color: var(--bg-color);
}

.submit-btn:hover {
    color: var(--bg-color);
}

.skill-logo {
    mix-blend-mode: screen;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
  